@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans:700,800');

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{height: 100%;font-family: 'Open Sans', sans-serif;font-size: 15px;font-weight: 700;word-break: keep-all;}
body{margin: 0px;color: #000;background-color: #f7f7f7;}

a {background-color: transparent;text-decoration: none;color: inherit;display: block;opacity: 1;transition: all 0.2s ease-in-out;}
a:active,
a:hover{outline: 0;text-decoration: none;color: inherit;opacity: 0.8;}

/** helpers **/
.show{display: block;}
.hidden{display: none !important;}
.pull-left{float: left;}
.pull-right{float: right;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.block{display: block;}
.inline-block{display: inline-block;}
.clearfix:before,
.clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1; /* ie 6/7 */}
/* helpers end  */

/** common **/
.header{
  min-width: 1500px;
  margin: 0 auto;
  text-align: center;

  font-size: 30px;
  font-weight: 800;
  letter-spacing: 18px;
  color: #5787d6;
}
.navigation{
  position: relative;
}
.content{
  position: relative;
  padding: 50px;
}

/** admin **/
.project-details{
  margin-bottom: 30px;
}
.project-details .description{
  width: 300px;
  height: 100px;
}
.project-details .tag{
  margin-right: 10px;
  padding: 4px 10px;
  color: #adadad;
}
.project-details .tag.active{
  color: #2386de;
}
.project-details .tag:hover{
  cursor: pointer;
}

/** home **/
.navigation{
  position: relative;
  min-width: 1500px;
  border-top: 1px solid #e7e4e4;
}
.navigation .search-bar{
  width: 1350px;
  margin: 0 auto;
  text-align: left;
}
.navigation .search-bar .filter-menu{
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation .search-bar .filter-menu li{
  display: inline-block;
  padding: 35px;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}
.navigation .search-bar .filter-menu li:first-child{padding-left: 0px;}
.navigation .search-bar .filter-menu li:hover{cursor: pointer;}

.navigation .filter-list{
  display: none;
  padding: 80px 0px;
  color: #fff;
  background-color: #000;
}
.navigation .filter-list.category{background-color: #fa606a;}
.navigation .filter-list.technology{background-color: #66bd82;}
.navigation .filter-list.field{background-color: #3a095b;}
.navigation .filter-list.visual{background-color: #f89952;}
.navigation .filter-list.client{background-color: #d86ab2;}

.navigation .filter-list .inner{
  width: 1350px;
  margin: 0 auto;
  text-align: left;
}

.navigation .filter-list .inner span{
  display: inline-block;
  padding: 20px 60px;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
}

.references-wrapper{
  width: 1400px;
  margin: 0 auto;
  text-align: left;
}
.references-wrapper .box{
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin: 30px;
  text-align: left;
  box-shadow: 1px 1px 15px -1px rgba(194,194,194,1);
}
.references-wrapper .info{
  padding: 30px 25px 20px 25px;
}
.references-wrapper .info h2{height: 65px;margin: 0;font-size: 35px;font-weight: 800;line-height: 36px;text-transform: uppercase;letter-spacing: -1px;}
.references-wrapper .info p{height: 70px;overflow: hidden;margin: 30px 0px 20px;font-family: "Libre Baskerville";font-size: 12px;color: #7c7c7c;line-height: 17px;}
.references-wrapper .extra{
  overflow: auto;
  margin-bottom: 20px;
  padding-bottom: 25px;
  font-size: 12px;
  color: #d2d2d2;
  border-bottom: 1px dotted #ccc;
}
.references-wrapper .date{float: left;}
.references-wrapper .views{float: right;}
.references-wrapper .tags{
  text-align: left;
  text-transform: uppercase;
}
.references-wrapper .tags span{margin-right: 15px;font-size: 14px;font-weight: 800;}
.references-wrapper .tags span:nth-child(1){color: #fa606a;}
.references-wrapper .tags span:nth-child(2){color: #3a095b;}
.references-wrapper .tags span:nth-child(3){color: #66bd82;}
.references-wrapper .tags span:nth-child(4){color: #f89952;}
.references-wrapper .tags span:last-child{margin-right: 0px;}
