@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans:700,800');

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{height: 100%;font-family: 'Open Sans', sans-serif;font-size: 15px;font-weight: 700;word-break: keep-all;}
body{margin: 0px;color: #000;background-color: #fcfcfc;}

a {background-color: transparent;text-decoration: none;color: inherit;display: block;opacity: 1;transition: all 0.2s ease-in-out;}
a:active,
a:hover{outline: 0;text-decoration: none;color: inherit;}

/** helpers **/
.show{display: block;}
.hidden{display: none !important;}
.pull-left{float: left;}
.pull-right{float: right;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.block{display: block;}
.inline-block{display: inline-block;}
.clearfix:before,
.clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1; /* ie 6/7 */}
/* helpers end  */

/** common **/
h1{width: 180px;margin: 30px auto 30px;}

.header{
  min-width: 1500px;
  margin: 0 auto;
  text-align: center;

  font-size: 30px;
  font-weight: 800;
  letter-spacing: 18px;
  color: #5787d6;
}
.navigation{
  position: relative;
  min-width: 1500px;
  border-top: 1px solid #e7e4e4;
  border-bottom: 1px solid #e7e4e4;
}
.content{
  position: relative;
  min-width: 1500px;
  margin: 0 auto;
  padding: 50px;
  background-color: #f7f7f7;
}

/** admin **/
.admin h2{
  color: #3d74f5;
  text-transform: uppercase;
}
.admin button{
  padding: 6px 10px;
  font-family: 'Open Sans';
  color: #fff;
  text-transform: uppercase;
  background: #000;
  border: none;
  border-radius: 4px;
}
.similar-refs span{
  display: block;
  font-size: 12px;
  color: #fb6a22;
}
.project-details{
  margin-bottom: 30px;
}
.project-details h4{
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
}
.project-details .row .item{
  display: inline-block;
}
.project-details input{
  margin-right: 10px;
  padding: 5px 10px;
  font-family: 'Open Sans';
  border-radius: 4px;
  border: 1px solid #ccc;
}
.project-details textarea{
  padding: 5px 10px;
  font-family: 'Open Sans';
  border-radius: 4px;
  border: 1px solid #ccc;
}
.project-details select{
  font-family: 'Open Sans';
  border-radius: 4px;
  border: 1px solid #ccc;
}
.project-details .description{
  width: 300px;
  height: 100px;
}
.project-details .url{width: 250px;}
.project-details .thumbnail{width: 260px;}
.project-details .tag{
  margin-right: 10px;
  padding: 4px 10px;
  color: #adadad;
}
.project-details .tag.active{
  color: #2386de;
}
.project-details .tag:hover{
  cursor: pointer;
}
.project-details .update-ref{
  margin-top: 30px;
}

/** home **/
.notification{
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0;
  padding: 15px 0px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5px;
  color: #fff;
  background: rgba(102, 189, 130, 1);
  z-index: 100;
  visibility: none;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.notification.open{
  visibility: visible;
  opacity: 1;
}

.header h1 img{
  width: 100%;
}
.navigation .search-bar{
  position: relative;
  width: 1330px;
  margin: 0 auto;
  text-align: left;
}
.navigation .search-bar .filter-menu{
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation .search-bar .filter-menu li{
  display: inline-block;
  min-width: 150px;
  padding: 35px;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  border-left: 1px solid #f1f1f1;
  transition: background 0.2s ease-in-out;
}
.navigation .search-bar .filter-menu li svg{width: 8px;margin-left: 10px;vertical-align: 1px;transform: rotate(90deg);}
.navigation .search-bar .filter-menu li:last-child{border-right: 1px solid #f1f1f1;}
.navigation .search-bar .filter-menu li:hover{background-color: #f7f7f7;cursor: pointer;}
.navigation .search-bar .filter-menu li.active{color: #fff;}
.navigation .search-bar .filter-menu li.active svg{fill: #fff;}

.navigation .search-bar .filter-menu li.category.active{background-color: #fa606a;}
.navigation .search-bar .filter-menu li.technology.active{background-color: #66bd82;}
.navigation .search-bar .filter-menu li.field.active{background-color: #7b2cb1;}
.navigation .search-bar .filter-menu li.visual.active{background-color: #f89952;}
.navigation .search-bar .filter-menu li.client.active{background-color: #d86ab2;}

.navigation .title-search{
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.navigation .title-search input{
  width: 200px;
  font-family: 'Open Sans';
  font-size: 14px;
  text-transform: uppercase;
  text-align: right;
  border: none;
  outline: none;
  background: #fcfcfc;
}
.navigation .title-search input::placeholder {
  color: #ccc;
}
.navigation .title-search svg{
  display: inline-block;
  margin-left: 15px;
  width: 16px;
  fill: #000;
  vertical-align: -4px;
}
.navigation .title-search svg:hover{cursor: pointer;}

.navigation .filter-list{
  display: none;
  padding: 80px 0px;
  color: #fff;
  background-color: #000;
}

.navigation .filter-list.category{background-color: #fa606a;}
.navigation .filter-list.technology{background-color: #66bd82;}
.navigation .filter-list.field{background-color: #7b2cb1;}
.navigation .filter-list.visual{background-color: #f89952;}
.navigation .filter-list.client{background-color: #d86ab2;}

.navigation .filter-list .inner{
  position: relative;
  width: 1330px;
  margin: 0 auto;
  text-align: center;
}

.navigation .filter-list .inner .tags{
  display: inline-block;
  padding: 20px 60px;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0.25;
  transition: all 0.2s ease-in-out;
}
.navigation .filter-list .inner .tags.active{opacity: 1;}
.navigation .filter-list .inner .tags:hover{opacity: 0.75;cursor: pointer;}

.navigation .selected-filters-list{
  display: none;
  background-color: #282828;
}
.navigation .selected-filters-list .inner{
  position: relative;
  width: 1330px;
  margin: 0 auto;
  color: #fff;
}
.navigation .selected-filters-list .tag-list{
  width: 1050px;
  height: 65px;
  overflow: hidden;
}
.navigation .selected-filters-list .inner .tag{
  position: relative;
  display: inline-block;
  margin: 20px 10px;
  padding: 5px 20px 5px 15px;
  font-size: 10px;
  font-weight: 800;
  border-radius: 25px;
  text-transform: uppercase;
}
.navigation .selected-filters-list .inner .tag:hover{cursor: pointer;}
.navigation .selected-filters-list .inner .tag.title{color: #000;background-color: #fff;}
.navigation .selected-filters-list .inner .tag.title svg{fill: #000;}
.navigation .selected-filters-list .inner .tag.category{background-color: #fa606a;}
.navigation .selected-filters-list .inner .tag.technology{background-color: #66bd82;}
.navigation .selected-filters-list .inner .tag.field{background-color: #7b2cb1;}
.navigation .selected-filters-list .inner .tag.visual{background-color: #f89952;}
.navigation .selected-filters-list .inner .tag.client{background-color: #d86ab2;}
.navigation .selected-filters-list .tag-list svg{
  position: absolute;
  top: 50%;
  right: 8px;
  width: 7px;
  fill: #fff;
  transform: translateY(-50%);
}

.navigation .selected-filters-list .inner .menu{
  position: absolute;
  top: 50%;
  right: 180px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  transform: translateY(-50%);
}
.selected-filters-list .filter-search{
  position: absolute;
  top: 50%;
  right: 0px;
  padding: 20px;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  transform: translateY(-50%);
  background: #191919;
}
.selected-filters-list .filter-search:hover{cursor: pointer;}
.selected-filters-list .filter-search svg{
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  fill: #fff;
}
.selected-filters-list .filter-search span{
  display: inline-block;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.references-wrapper{
  width: 1380px;
  margin: 0 auto;
  text-align: left;
}
.references-wrapper h3{
  margin: 0px 0px 10px;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}
.references-wrapper h3 span{display: inline-block;margin-left: 10px;color: #d2d2d2;}
.references-wrapper .no-results{
  width: 100%;
  padding: 100px 0px 300px;
  font-size: 13px;
  line-height: 26px;
  text-align: center;
  color: #a7a7a7;
}
.references-wrapper .box{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin: 30px;
  text-align: left;
  box-shadow: 1px 1px 15px -1px rgba(194,194,194,1);
}
.references-wrapper .box .thumbnail-outer img{
  display: block;
}
.references-wrapper .box:hover .overlay{
  visibility: visible;
  opacity: 1;
}
.references-wrapper .box:hover .copy-link{
  visibility: visible;
  opacity: 1;
}
.references-wrapper .box .overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 285px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  visibility: none;
  opacity: 0;
}
.references-wrapper .box .copy-link{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  text-align: center;
  transition: all 0.2s ease-in-out;
  visibility: none;
  opacity: 0;
}
.references-wrapper .box .copy-link:hover{cursor: copy;}
.references-wrapper .box .copy-link svg{
  width: 32px;
  fill: #fff;
}
.references-wrapper .box .copy-link .label{
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
}

.references-wrapper .info{
  padding: 30px 25px 20px 25px;
}
.references-wrapper .info h2{height: 65px;margin: 0;font-size: 32px;font-weight: 800;line-height: 31px;text-transform: uppercase;letter-spacing: -1px;}
.references-wrapper .info p{height: 70px;overflow: hidden;margin: 30px 0px 20px;font-family: "Libre Baskerville";font-size: 12px;color: #7c7c7c;line-height: 17px;}
.references-wrapper .extra{
  overflow: auto;
  margin-bottom: 20px;
  padding-bottom: 25px;
  font-size: 12px;
  color: #d2d2d2;
  border-bottom: 1px dotted #ccc;
}
.references-wrapper .date{float: left;padding: 2px 0px;}
.references-wrapper .date svg{width: 14px;margin-right: 8px;vertical-align: -2px;fill: #d6d6d6;}
.references-wrapper .views{
  float: right;
  padding: 2px 8px;
  font-size: 11px;
  text-transform: uppercase;
  border: 1px solid #e2e2e2;
}
.references-wrapper .views a:hover{color: #525252;}
.references-wrapper .tags{
  text-align: left;
  text-transform: uppercase;
}
.references-wrapper .tags span{margin-right: 15px;font-size: 14px;font-weight: 800;}
.references-wrapper .tags span:nth-child(1){color: #fa606a;}
.references-wrapper .tags span:nth-child(2){color: #7b2cb1;}
.references-wrapper .tags span:nth-child(3){color: #66bd82;}
.references-wrapper .tags span:nth-child(4){color: #f89952;}
.references-wrapper .tags span:last-child{margin-right: 0px;}

.pagination{
  width: 100%;
  margin: 0 auto;
}
.pagination .inner{
  position: relative;
  width: 200px;
  margin: 30px auto 30px;
  font-size: 11px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
.pagination .nav{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.pagination .nav:hover{cursor: pointer;}
.pagination .prev{left: 0px;}
.pagination .next{right: 0px;}
.pagination .number{
  font-size: 30px;
  color: #d5d5d5;
}
.pagination .number.active{color: #000;}

.footer{
  min-width: 1500px;
  background-color: #282828;
}
.footer .inner{
  width: 1330px;
  margin: 0 auto;
  padding: 80px 0px 150px;
  font-family: 'Libre Baskerville';
  font-size: 12px;
  color: #7c7c7c;
  text-align: center;
}
.footer .inner .description{line-height: 22px;}
.footer .inner .description a{display: inline-block;color: #f89952;}
.footer .inner .copyright{margin: 20px 0px 40px;font-size: 10px;}
.footer .inner .authors a{display: inline-block;}
.footer .inner .authors svg{
  width: 40px;
  margin: 0px 10px;
  fill: #dadada;
}
.footer .inner .sns{margin-bottom: 20px;}
.footer .inner .sns a{display: inline-block;padding: 0px 10px;}
.footer .inner .authors p{margin: 0px;font-family: 'Open Sans';color: #dadada;}

/* blog */
.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}
.left-pannel{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  padding: 20px;
  background: #fff;
  /*background: #5d85c3;*/
}
.left-pannel h1 img{
  width: 150px;
}
.left-pannel h2{margin: 80px 0 40px;font-size: 20px;font-weight: 800;letter-spacing: -1px;text-transform: uppercase;}
.left-pannel .last-articles-link{position: relative;transition: all 0.2s ease-in-out;}
.left-pannel .last-articles-link:after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #839fbf;
  visibility: hidden;
  opacity: 0;
}
.left-pannel .last-articles-link:hover:after{visibility: visible;opacity: 1;}
.left-pannel .last-articles-link a{font-size: 13px;color: #d2d2d2;text-transform: uppercase;}
.left-pannel .last-articles-link a:hover{color: #839fbf;}

.article-content{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto 50px;
  padding: 20px;
  padding-left: 60px;
}
@media only screen and (max-width: 1635px) {
  .article-content{margin: 0px 0px 50px 300px;}
}
@media only screen and (max-width: 1440px) {
  .article-content{max-width: 1000px;}
}
@media only screen and (max-width: 1330px) {
  .article-content{max-width: 800px;}
}
@media only screen and (max-width: 1140px) {
  .article-content{max-width: 100%;padding-left: 20px;margin-left: auto;}
  .left-pannel{display: none;}
}

.article-content h2{margin: 50px 0 20px;font-size: 50px;font-weight: 800;line-height: 52px;letter-spacing: -1px;text-transform: uppercase;}
.article-content h4{margin: 0 0 30px;font-size: 15px;font-weight: 700;text-transform: uppercase;color: #d2d2d2;}
.article-content h4 span{color: #5b84b0;}

.article-content .body a{display: inline-block;color: #5b84b0;}
.article-content .body a:hover{color: #666;}
.article-content .body h2{margin: 0 0 35px;font-family: 'Open Sans';font-size: 24px;font-weight: 800;color: #000;}
.article-content .body p{font-family: 'Libre Baskerville';font-size: 15px;color: #7c7c7c;line-height: 29px;}
.article-content .body ul{font-family: 'Libre Baskerville';font-size: 15px;color: #7c7c7c;line-height: 29px;}
.article-content .body img.full{width: 100%;margin: 20px 0px;}

/* media queries */

@media only screen and (max-width: 1515px) {
  .header{
    min-width: 100%;
    width: 100%;
  }
  .navigation{
    min-width: 100%;
    width: 100%;
  }
  .navigation .title-search{
    right: 20px;
  }
  .navigation .search-bar{
    min-width: 100%;
    width: 100%;
  }
  .navigation .search-bar .filter-menu li {
    min-width: 120px;
    padding: 25px;
    font-size: 12px;
  }
  .navigation .filter-list{
    padding: 35px 0px;
  }
  .navigation .filter-list .inner {
    min-width: 100%;
    width: 100%;
  }
  .navigation .filter-list .inner .tags{
    padding: 15px 30px;
    font-size: 24px;
  }
  .navigation .selected-filters-list .inner {
    min-width: 100%;
    width: 100%;
  }
  .navigation .selected-filters-list .tag-list {
    width: 75%;
  }
  .content{
    min-width: 100%;
    width: 100%;
    padding: 10px;
  }
  .references-wrapper{
    min-width: 100%;
    width: 100%;
    text-align: center;
  }
  .references-wrapper h3 {
    margin: 20px 0px 10px;
  }
  .footer{
    min-width: 100%;
    width: 100%;
  }
  .footer .inner{
    min-width: 100%;
    width: 100%;
  }
}


@media only screen and (max-width: 768px) {
  .navigation {
    padding: 0px;
  }
  .navigation .title-search {
    display: none;
  }
  .navigation .search-bar .filter-menu li {
    min-width: 0;
    width: 25%;
    padding: 15px 0px;
    font-size: 12px;
  }
  .article-content h2{font-size: 40px;line-height: 42px;}

@media only screen and (max-width: 475px) {
  .navigation .selected-filters-list .tag-list {
    height: 50px;
  }
  .selected-filters-list .filter-search {
    padding: 13px;
  }
  .navigation .selected-filters-list .tag-list {
    visibility: hidden;
  }
  .selected-filters-list .filter-search svg {
    vertical-align: -3px;
  }
  .selected-filters-list .filter-search span {
    font-size: 14px;
  }
  .navigation .search-bar .filter-menu li svg {
    margin-left: 5px;
  }
  .navigation .search-bar .filter-menu li {
    font-weight: 700;
    font-size: 11px;
  }
  .navigation .filter-list .inner .tags {
    padding: 8px 15px;
    font-size: 16px;
  }
  .references-wrapper h3 {
    padding: 0px;
  }
  .references-wrapper .box {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
  }
  .references-wrapper .box .overlay {
    display: none;
  }
  .references-wrapper .box .thumbnail-outer img {
    width: 100%;
  }
  .references-wrapper .info h2 {
    height: 55px;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -1px;
  }
  .references-wrapper .tags span {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 700;
  }
  .article-content h2{margin: 20px 0 20px;font-size: 28px;line-height: 30px;}
}
