extends ../layout

block content
  div.content.admin
    h1= title
    button.new(type="button") new
    div.project-list
      table.project-list-table
        each reference, index in references
          tr
            td= reference.title
            td 
              a(href="/mgmt/update/"+reference.id) edit

block scripts
  script(src="/js/mgmt/index.js")
